<a href="https://colab.research.google.com/github/Albaraaakarman/first-repository-/blob/main/DataScienceEcoSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

There are many types of programming languages that used in Data Science, such:


1.   C
2.   C++
3.   Java
4.   Python
5.   R

Some of the commonly used libraries used by Data Scientists include:


*   Matplotlib
*   Seaborn
*   Numpy
*   ggplot

Data Science Tools



---
Rstudio

---

ApacheHadoop

---
ApacheSpark

Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers

x=(3*4)+5
print(x)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

a= 200
b=60
c= a/b
print(c)

3.3333333333333335

**Objectives**
popular languages for Data Science


*   R
*   C++
*  Python
*   Scala
*   Julia

**Author** Albaraa Mohammed